[submodule "backend"]
	path = backend
	url = https://github.com/shadan1234/hackfest-25-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Swayam-code/GrowFi-Frontend.git
[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/Swayam-code/GrowFi-App-Frontend.git
